@import './variables/color.scss';
$opacify-size: 1%;
//example .text-danger .bg-warning
@each $colorKey, $color in $colors {
    .text-#{$colorKey} {
        color: $color;
    }
    .bg-#{$colorKey} {
        background-color: $color;
    }
    // 深色模式下 .dark .dark:text-danger{}
    .dark {
        .dark:text-#{$colorKey} {
            color: $color;
        }
        .dark:bg-#{$colorKey} {
            background-color: $color;
        }
    }
    //去掉关键字，只循环色值
    @if ($color != transparent and $color != currentColor) {
        //透明度颜色
        @each $opacify in $opacify-types {
            .text-#{$colorKey}-#{$opacify} {
                color: rgba($color, $opacify-size * $opacify);
            }
            .bg-#{$colorKey}-#{$opacify} {
                background-color: rgba($color, $opacify-size * $opacify);
            }

            .dark {
                .dark:text-#{$colorKey}-#{$opacify} {
                    color: rgba($color, $opacify-size * $opacify);
                }
                .dark:bg-#{$colorKey}-#{$opacify} {
                    background-color: rgba($color, $opacify-size * $opacify);
                }
            }
        }
    }
}
