@import './variables/color.scss';
@import './common/index.scss';
$opacify-size: 1%;
//example .text-danger
@include eachMixin($text-color-switch, $colors, $text-color-prefix, color);
//example .bg-warning
@include eachMixin($bg-color-switch, $colors, $bg-color-prefix, background-color);

@each $colorKey, $color in $colors {
    // 深色模式下 .dark .dark:text-danger{}
    .#{$dark-alias} {
        .#{$dark-alias}\:text-#{$colorKey} {
            color: $color !important;
        }
        .#{$dark-alias}\:bg-#{$colorKey} {
            background-color: $color;
        }
    }
    //去掉关键字，只循环色值
    @if ($color != transparent and $color != currentColor) {
        //透明度颜色
        @each $opacify in $opacify-types {
            .text-#{$colorKey}-#{$opacify} {
                color: rgba($color, $opacify-size * $opacify);
            }
            .bg-#{$colorKey}-#{$opacify} {
                background-color: rgba($color, $opacify-size * $opacify);
            }

            .#{$dark-alias} {
                .#{$dark-alias}\:text-#{$colorKey}-#{$opacify} {
                    color: rgba($color, $opacify-size * $opacify);
                }
                .#{$dark-alias}\:bg-#{$colorKey}-#{$opacify} {
                    background-color: rgba($color, $opacify-size * $opacify);
                }
            }
        }
    }
}
