@import './variables/index.scss';
@import './common/index.scss';
//盒模型
@each $boxKey, $type in $box-types {
    .box-#{$boxKey} {
        box-sizing: $type;
    }
}

//display
@each $type in $display-types {
    .d-#{$type} {
        display: $type !important;
    }
}

//圆角border-raduis
@each $raduisKey, $raduis in $raduis-sizes {
    .br-#{$raduisKey} {
        border-radius: $raduis * $raduis-base-size;
    }
}
//circle
.br-c {
    border-radius: 50%;
}

//鼠标指针样式
@each $type in $cursor-types {
    .cursor-#{$type} {
        cursor: $type !important;
    }
}

//边框border
.border-a {
    border: 1px solid $borderColor;
}
@each $directionKey, $direction in $directions {
    .border-#{$directionKey} {
        border-#{$direction}: 1px solid $borderColor;
    }
}

//定位
@each $type in $postion-types {
    .p-#{$type} {
        position: $type;
    }
}

//溢出
@include eachMixin($overflow-switch, $overflow-types, overflow, overflow);
@each $direction in $overflow-directions {
    @include eachMixin($overflow-switch, $overflow-types, overflow- + $direction, overflow- + $direction);
}
