@import './variables/index.scss';
//盒模型
@each $boxKey, $type in $box-types {
    .box-#{$boxKey} {
        box-sizing: $type;
    }
}

//display
@each $type in $display-types {
    .d-#{$type} {
        display: $type !important;
    }
}

//border-raduis
@each $raduisKey, $raduis in $raduis-sizes {
    .br-#{$raduisKey} {
        border-radius: $raduis * $raduis-base-size;
    }
}

//鼠标指针样式
@each $type in $cursor-types {
    .cursor-#{$type} {
        cursor: $type !important;
    }
}

//边框border
.border-a {
    border: 1px solid $borderColor;
}
@each $directionKey, $direction in $directions {
    .border-#{$directionKey} {
        border-#{$direction}: 1px solid $borderColor;
    }
}
