@import './variables/index.scss';

//字体尺寸
@each $sizeKey, $size in $font-sizes {
    .fs-#{$sizeKey} {
        font-size: $size;
    }
}

//对齐方式
@each $type in $align-types {
    // .ta-right{text-align:right;}
    .ta-#{$type} {
        text-align: $type !important;
    }
}

//文本修饰
@each $type in $decoration-types {
    // .td-overline{text-decoration: overline !important;}
    .td-#{$type} {
        text-decoration: $type !important;
    }
}
