
img{
    display:block;
    margin: 0 auto;
}
table{
    width: 100%;
    display:table;
    table-layout: fixed;
    border:1px solid #f1f1f1;
}
tbody{
    display:block;
    width: 100%;
    overflow: auto;
    max-height: 500px;
}
tr {
   display: flex;
   border:none;
}
th{
    background: #999;
}
td,th{
    border:none;
}
tr td:last-child,tr th:last-child{
    flex:1;
    
}
tr td:first-child,tr th:first-child{
    width:150px !important;
}

