$word-break-switch: true;
$dark-alias: 'TTdark';
$colors: (
    'transparent': transparent,
    'current': currentColor,
    'red': red,
    'blue': blue,
    'success': green
);
@import '@/../../package/sass/index.scss';
