//盒模型
$box-types: (
    content: content-box,
    border: border-box
) !default;
$box-switch: true !default; //盒模型开关
$box-prefix: box !default; //盒模型前缀

//display
$display-types: none, flex, grid, block, inline, inline-block, inherit !default; //display类型
$display-switch: true !default; //display开关
$display-prefix: d !default; //display前缀

//定位 postion
$postion-types: absolute, relative, fixed, static, inherit, sticky !default;
$postion-switch: true !default; //postion开关
$postion-prefix: p !default; //postion前缀

//圆角border-raduis

$raduis-sizes: (
    0: 0,
    1: 2,
    2: 5,
    3: 10,
    4: 15,
    5: 20
) !default;
$raduis-switch: true !default; //border-raduis开关
$raduis-base-size: 1px !default;
$raduis-prefix: br !default;

//鼠标指针样式
$cursor-types: pointer, crosshair, text, default, help !default;
$cursor-switch: true !default; //border-raduis开关
$cursor-prefix: cursor !default;

//溢出
$overflow-switch: true !default;
$overflow-types: visible, hidden, scroll, auto !default;
$overflow-directions: x, y !default;
