//flex布局开关
$flex-switch: true !default;
//flex 布局方向前缀
$flex-dir-prefix:flex-dir !default;
//弹性布局方向
$flex-dir: (
    row: row,
    col: column,
    rowRe: row-reverse,
    colRe: column-reverse
);
//弹性布局主轴方向对齐方式
$flex-jc: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around
);

//弹性布局交叉轴方向对齐方式
$flex-ai: (
    start: flex-start,
    end: flex-end,
    center: center,
    stretch: stretch
);

