//flex布局开关
$flex-switch: true !default;
//flex 布局方向前缀
$flex-dir-prefix: flex-dir !default;
//弹性布局方向
$flex-dir: (
    row: row,
    col: column,
    rowRe: row-reverse,
    colRe: column-reverse
) !default;
//弹性布局主轴方向对齐方式前缀
$flex-jc-prefix: jc !default;
//弹性布局主轴方向对齐方式
$flex-jc: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around
) !default;
//弹性布局交叉轴方向对齐方式前缀
$flex-ai-prefix: ai !default;
//弹性布局交叉轴方向对齐方式
$flex-ai: (
    start: flex-start,
    end: flex-end,
    center: center,
    stretch: stretch
) !default;

//flex折行方式
$flex-wrap-type: (
    n: nowrap,
    w: wrap,
    w-r: wrap-reverse,
    int: initial,
    inh: inherit
) !default;
$flex-wrap-prefix: flex-w !default;
