//文字大小
$font-sizes: (
    s: 12px,
    m: 14px,
    l: 16px,
    xl: 18px,
    2xl: 20px,
    3xl: 22px,
    4xl: 24px
);
//对齐方式类型
$align-types: left, right, center, justify, inherit;

//圆角border-raduis变量
$raduis-sizes: (
    0: 0,
    1: 2,
    2: 5,
    3: 10,
    4: 10,
    5: 15,
    6: 20
);
$raduis-base-size: 1px;
