//文字大小
$font-sizes: (
    s: 12px,
    m: 14px,
    l: 16px,
    xl: 18px,
    2xl: 20px,
    3xl: 22px,
    4xl: 24px
);
//对齐方式类型
$align-types: left, right, center, justify, inherit;

//文本装饰类型  由于IE、Chrome 或 Safari 均不支持 "blink" 属性值所以这里不设置blink
$decoration-types: overline, line-through, underline, none;
