//文字大小
$font-sizes-switch: true !default;
$font-sizes: (
    s: 12px,
    m: 14px,
    l: 16px,
    xl: 18px,
    2xl: 20px,
    3xl: 22px,
    4xl: 24px
) !default;
$font-size-prefix: fs !default;

//对齐方式类型
$text-align-switch: true !default;
$text-align-types: (
    l: left,
    r: right,
    c: center,
    j: justify
) !default;
$text-align-prefix: ta !default;

//文本装饰类型  由于IE、Chrome 或 Safari 均不支持 "blink" 属性值所以这里不设置blink
$text-decoration-switch: true !default;
$text-decoration-types: (
    o: overline,
    l: line-through,
    u: underline,
    n: none
) !default;
$text-decoration-prefix: td !default;

//文本换行
$word-break-switch: true !default;
$word-break-types: (
    n: normal,
    ba: break-all,
    bw: break-word
) !default;
$word-break-prefix: wb !default;
