.text-transparent {
  color: transparent;
}

.bg-transparent {
  background-color: transparent;
}

.dark .dark\:text-transparent {
  color: transparent !important;
}
.dark .dark\:bg-transparent {
  background-color: transparent;
}

.text-current {
  color: currentColor;
}

.bg-current {
  background-color: currentColor;
}

.dark .dark\:text-current {
  color: currentColor !important;
}
.dark .dark\:bg-current {
  background-color: currentColor;
}

.text-primary {
  color: #1890ff;
}

.bg-primary {
  background-color: #1890ff;
}

.dark .dark\:text-primary {
  color: #1890ff !important;
}
.dark .dark\:bg-primary {
  background-color: #1890ff;
}

.text-primary-10 {
  color: rgba(24, 144, 255, 0.1);
}

.bg-primary-10 {
  background-color: rgba(24, 144, 255, 0.1);
}

.dark .dark\:text-primary-10 {
  color: rgba(24, 144, 255, 0.1);
}
.dark .dark\:bg-primary-10 {
  background-color: rgba(24, 144, 255, 0.1);
}

.text-primary-20 {
  color: rgba(24, 144, 255, 0.2);
}

.bg-primary-20 {
  background-color: rgba(24, 144, 255, 0.2);
}

.dark .dark\:text-primary-20 {
  color: rgba(24, 144, 255, 0.2);
}
.dark .dark\:bg-primary-20 {
  background-color: rgba(24, 144, 255, 0.2);
}

.text-primary-30 {
  color: rgba(24, 144, 255, 0.3);
}

.bg-primary-30 {
  background-color: rgba(24, 144, 255, 0.3);
}

.dark .dark\:text-primary-30 {
  color: rgba(24, 144, 255, 0.3);
}
.dark .dark\:bg-primary-30 {
  background-color: rgba(24, 144, 255, 0.3);
}

.text-primary-40 {
  color: rgba(24, 144, 255, 0.4);
}

.bg-primary-40 {
  background-color: rgba(24, 144, 255, 0.4);
}

.dark .dark\:text-primary-40 {
  color: rgba(24, 144, 255, 0.4);
}
.dark .dark\:bg-primary-40 {
  background-color: rgba(24, 144, 255, 0.4);
}

.text-primary-50 {
  color: rgba(24, 144, 255, 0.5);
}

.bg-primary-50 {
  background-color: rgba(24, 144, 255, 0.5);
}

.dark .dark\:text-primary-50 {
  color: rgba(24, 144, 255, 0.5);
}
.dark .dark\:bg-primary-50 {
  background-color: rgba(24, 144, 255, 0.5);
}

.text-primary-60 {
  color: rgba(24, 144, 255, 0.6);
}

.bg-primary-60 {
  background-color: rgba(24, 144, 255, 0.6);
}

.dark .dark\:text-primary-60 {
  color: rgba(24, 144, 255, 0.6);
}
.dark .dark\:bg-primary-60 {
  background-color: rgba(24, 144, 255, 0.6);
}

.text-primary-70 {
  color: rgba(24, 144, 255, 0.7);
}

.bg-primary-70 {
  background-color: rgba(24, 144, 255, 0.7);
}

.dark .dark\:text-primary-70 {
  color: rgba(24, 144, 255, 0.7);
}
.dark .dark\:bg-primary-70 {
  background-color: rgba(24, 144, 255, 0.7);
}

.text-primary-80 {
  color: rgba(24, 144, 255, 0.8);
}

.bg-primary-80 {
  background-color: rgba(24, 144, 255, 0.8);
}

.dark .dark\:text-primary-80 {
  color: rgba(24, 144, 255, 0.8);
}
.dark .dark\:bg-primary-80 {
  background-color: rgba(24, 144, 255, 0.8);
}

.text-primary-90 {
  color: rgba(24, 144, 255, 0.9);
}

.bg-primary-90 {
  background-color: rgba(24, 144, 255, 0.9);
}

.dark .dark\:text-primary-90 {
  color: rgba(24, 144, 255, 0.9);
}
.dark .dark\:bg-primary-90 {
  background-color: rgba(24, 144, 255, 0.9);
}

.text-success {
  color: #52c41a;
}

.bg-success {
  background-color: #52c41a;
}

.dark .dark\:text-success {
  color: #52c41a !important;
}
.dark .dark\:bg-success {
  background-color: #52c41a;
}

.text-success-10 {
  color: rgba(82, 196, 26, 0.1);
}

.bg-success-10 {
  background-color: rgba(82, 196, 26, 0.1);
}

.dark .dark\:text-success-10 {
  color: rgba(82, 196, 26, 0.1);
}
.dark .dark\:bg-success-10 {
  background-color: rgba(82, 196, 26, 0.1);
}

.text-success-20 {
  color: rgba(82, 196, 26, 0.2);
}

.bg-success-20 {
  background-color: rgba(82, 196, 26, 0.2);
}

.dark .dark\:text-success-20 {
  color: rgba(82, 196, 26, 0.2);
}
.dark .dark\:bg-success-20 {
  background-color: rgba(82, 196, 26, 0.2);
}

.text-success-30 {
  color: rgba(82, 196, 26, 0.3);
}

.bg-success-30 {
  background-color: rgba(82, 196, 26, 0.3);
}

.dark .dark\:text-success-30 {
  color: rgba(82, 196, 26, 0.3);
}
.dark .dark\:bg-success-30 {
  background-color: rgba(82, 196, 26, 0.3);
}

.text-success-40 {
  color: rgba(82, 196, 26, 0.4);
}

.bg-success-40 {
  background-color: rgba(82, 196, 26, 0.4);
}

.dark .dark\:text-success-40 {
  color: rgba(82, 196, 26, 0.4);
}
.dark .dark\:bg-success-40 {
  background-color: rgba(82, 196, 26, 0.4);
}

.text-success-50 {
  color: rgba(82, 196, 26, 0.5);
}

.bg-success-50 {
  background-color: rgba(82, 196, 26, 0.5);
}

.dark .dark\:text-success-50 {
  color: rgba(82, 196, 26, 0.5);
}
.dark .dark\:bg-success-50 {
  background-color: rgba(82, 196, 26, 0.5);
}

.text-success-60 {
  color: rgba(82, 196, 26, 0.6);
}

.bg-success-60 {
  background-color: rgba(82, 196, 26, 0.6);
}

.dark .dark\:text-success-60 {
  color: rgba(82, 196, 26, 0.6);
}
.dark .dark\:bg-success-60 {
  background-color: rgba(82, 196, 26, 0.6);
}

.text-success-70 {
  color: rgba(82, 196, 26, 0.7);
}

.bg-success-70 {
  background-color: rgba(82, 196, 26, 0.7);
}

.dark .dark\:text-success-70 {
  color: rgba(82, 196, 26, 0.7);
}
.dark .dark\:bg-success-70 {
  background-color: rgba(82, 196, 26, 0.7);
}

.text-success-80 {
  color: rgba(82, 196, 26, 0.8);
}

.bg-success-80 {
  background-color: rgba(82, 196, 26, 0.8);
}

.dark .dark\:text-success-80 {
  color: rgba(82, 196, 26, 0.8);
}
.dark .dark\:bg-success-80 {
  background-color: rgba(82, 196, 26, 0.8);
}

.text-success-90 {
  color: rgba(82, 196, 26, 0.9);
}

.bg-success-90 {
  background-color: rgba(82, 196, 26, 0.9);
}

.dark .dark\:text-success-90 {
  color: rgba(82, 196, 26, 0.9);
}
.dark .dark\:bg-success-90 {
  background-color: rgba(82, 196, 26, 0.9);
}

.text-warnning {
  color: #faad14;
}

.bg-warnning {
  background-color: #faad14;
}

.dark .dark\:text-warnning {
  color: #faad14 !important;
}
.dark .dark\:bg-warnning {
  background-color: #faad14;
}

.text-warnning-10 {
  color: rgba(250, 173, 20, 0.1);
}

.bg-warnning-10 {
  background-color: rgba(250, 173, 20, 0.1);
}

.dark .dark\:text-warnning-10 {
  color: rgba(250, 173, 20, 0.1);
}
.dark .dark\:bg-warnning-10 {
  background-color: rgba(250, 173, 20, 0.1);
}

.text-warnning-20 {
  color: rgba(250, 173, 20, 0.2);
}

.bg-warnning-20 {
  background-color: rgba(250, 173, 20, 0.2);
}

.dark .dark\:text-warnning-20 {
  color: rgba(250, 173, 20, 0.2);
}
.dark .dark\:bg-warnning-20 {
  background-color: rgba(250, 173, 20, 0.2);
}

.text-warnning-30 {
  color: rgba(250, 173, 20, 0.3);
}

.bg-warnning-30 {
  background-color: rgba(250, 173, 20, 0.3);
}

.dark .dark\:text-warnning-30 {
  color: rgba(250, 173, 20, 0.3);
}
.dark .dark\:bg-warnning-30 {
  background-color: rgba(250, 173, 20, 0.3);
}

.text-warnning-40 {
  color: rgba(250, 173, 20, 0.4);
}

.bg-warnning-40 {
  background-color: rgba(250, 173, 20, 0.4);
}

.dark .dark\:text-warnning-40 {
  color: rgba(250, 173, 20, 0.4);
}
.dark .dark\:bg-warnning-40 {
  background-color: rgba(250, 173, 20, 0.4);
}

.text-warnning-50 {
  color: rgba(250, 173, 20, 0.5);
}

.bg-warnning-50 {
  background-color: rgba(250, 173, 20, 0.5);
}

.dark .dark\:text-warnning-50 {
  color: rgba(250, 173, 20, 0.5);
}
.dark .dark\:bg-warnning-50 {
  background-color: rgba(250, 173, 20, 0.5);
}

.text-warnning-60 {
  color: rgba(250, 173, 20, 0.6);
}

.bg-warnning-60 {
  background-color: rgba(250, 173, 20, 0.6);
}

.dark .dark\:text-warnning-60 {
  color: rgba(250, 173, 20, 0.6);
}
.dark .dark\:bg-warnning-60 {
  background-color: rgba(250, 173, 20, 0.6);
}

.text-warnning-70 {
  color: rgba(250, 173, 20, 0.7);
}

.bg-warnning-70 {
  background-color: rgba(250, 173, 20, 0.7);
}

.dark .dark\:text-warnning-70 {
  color: rgba(250, 173, 20, 0.7);
}
.dark .dark\:bg-warnning-70 {
  background-color: rgba(250, 173, 20, 0.7);
}

.text-warnning-80 {
  color: rgba(250, 173, 20, 0.8);
}

.bg-warnning-80 {
  background-color: rgba(250, 173, 20, 0.8);
}

.dark .dark\:text-warnning-80 {
  color: rgba(250, 173, 20, 0.8);
}
.dark .dark\:bg-warnning-80 {
  background-color: rgba(250, 173, 20, 0.8);
}

.text-warnning-90 {
  color: rgba(250, 173, 20, 0.9);
}

.bg-warnning-90 {
  background-color: rgba(250, 173, 20, 0.9);
}

.dark .dark\:text-warnning-90 {
  color: rgba(250, 173, 20, 0.9);
}
.dark .dark\:bg-warnning-90 {
  background-color: rgba(250, 173, 20, 0.9);
}

.text-danger {
  color: #f5222d;
}

.bg-danger {
  background-color: #f5222d;
}

.dark .dark\:text-danger {
  color: #f5222d !important;
}
.dark .dark\:bg-danger {
  background-color: #f5222d;
}

.text-danger-10 {
  color: rgba(245, 34, 45, 0.1);
}

.bg-danger-10 {
  background-color: rgba(245, 34, 45, 0.1);
}

.dark .dark\:text-danger-10 {
  color: rgba(245, 34, 45, 0.1);
}
.dark .dark\:bg-danger-10 {
  background-color: rgba(245, 34, 45, 0.1);
}

.text-danger-20 {
  color: rgba(245, 34, 45, 0.2);
}

.bg-danger-20 {
  background-color: rgba(245, 34, 45, 0.2);
}

.dark .dark\:text-danger-20 {
  color: rgba(245, 34, 45, 0.2);
}
.dark .dark\:bg-danger-20 {
  background-color: rgba(245, 34, 45, 0.2);
}

.text-danger-30 {
  color: rgba(245, 34, 45, 0.3);
}

.bg-danger-30 {
  background-color: rgba(245, 34, 45, 0.3);
}

.dark .dark\:text-danger-30 {
  color: rgba(245, 34, 45, 0.3);
}
.dark .dark\:bg-danger-30 {
  background-color: rgba(245, 34, 45, 0.3);
}

.text-danger-40 {
  color: rgba(245, 34, 45, 0.4);
}

.bg-danger-40 {
  background-color: rgba(245, 34, 45, 0.4);
}

.dark .dark\:text-danger-40 {
  color: rgba(245, 34, 45, 0.4);
}
.dark .dark\:bg-danger-40 {
  background-color: rgba(245, 34, 45, 0.4);
}

.text-danger-50 {
  color: rgba(245, 34, 45, 0.5);
}

.bg-danger-50 {
  background-color: rgba(245, 34, 45, 0.5);
}

.dark .dark\:text-danger-50 {
  color: rgba(245, 34, 45, 0.5);
}
.dark .dark\:bg-danger-50 {
  background-color: rgba(245, 34, 45, 0.5);
}

.text-danger-60 {
  color: rgba(245, 34, 45, 0.6);
}

.bg-danger-60 {
  background-color: rgba(245, 34, 45, 0.6);
}

.dark .dark\:text-danger-60 {
  color: rgba(245, 34, 45, 0.6);
}
.dark .dark\:bg-danger-60 {
  background-color: rgba(245, 34, 45, 0.6);
}

.text-danger-70 {
  color: rgba(245, 34, 45, 0.7);
}

.bg-danger-70 {
  background-color: rgba(245, 34, 45, 0.7);
}

.dark .dark\:text-danger-70 {
  color: rgba(245, 34, 45, 0.7);
}
.dark .dark\:bg-danger-70 {
  background-color: rgba(245, 34, 45, 0.7);
}

.text-danger-80 {
  color: rgba(245, 34, 45, 0.8);
}

.bg-danger-80 {
  background-color: rgba(245, 34, 45, 0.8);
}

.dark .dark\:text-danger-80 {
  color: rgba(245, 34, 45, 0.8);
}
.dark .dark\:bg-danger-80 {
  background-color: rgba(245, 34, 45, 0.8);
}

.text-danger-90 {
  color: rgba(245, 34, 45, 0.9);
}

.bg-danger-90 {
  background-color: rgba(245, 34, 45, 0.9);
}

.dark .dark\:text-danger-90 {
  color: rgba(245, 34, 45, 0.9);
}
.dark .dark\:bg-danger-90 {
  background-color: rgba(245, 34, 45, 0.9);
}

.text-border {
  color: #d9d9d9;
}

.bg-border {
  background-color: #d9d9d9;
}

.dark .dark\:text-border {
  color: #d9d9d9 !important;
}
.dark .dark\:bg-border {
  background-color: #d9d9d9;
}

.text-border-10 {
  color: rgba(217, 217, 217, 0.1);
}

.bg-border-10 {
  background-color: rgba(217, 217, 217, 0.1);
}

.dark .dark\:text-border-10 {
  color: rgba(217, 217, 217, 0.1);
}
.dark .dark\:bg-border-10 {
  background-color: rgba(217, 217, 217, 0.1);
}

.text-border-20 {
  color: rgba(217, 217, 217, 0.2);
}

.bg-border-20 {
  background-color: rgba(217, 217, 217, 0.2);
}

.dark .dark\:text-border-20 {
  color: rgba(217, 217, 217, 0.2);
}
.dark .dark\:bg-border-20 {
  background-color: rgba(217, 217, 217, 0.2);
}

.text-border-30 {
  color: rgba(217, 217, 217, 0.3);
}

.bg-border-30 {
  background-color: rgba(217, 217, 217, 0.3);
}

.dark .dark\:text-border-30 {
  color: rgba(217, 217, 217, 0.3);
}
.dark .dark\:bg-border-30 {
  background-color: rgba(217, 217, 217, 0.3);
}

.text-border-40 {
  color: rgba(217, 217, 217, 0.4);
}

.bg-border-40 {
  background-color: rgba(217, 217, 217, 0.4);
}

.dark .dark\:text-border-40 {
  color: rgba(217, 217, 217, 0.4);
}
.dark .dark\:bg-border-40 {
  background-color: rgba(217, 217, 217, 0.4);
}

.text-border-50 {
  color: rgba(217, 217, 217, 0.5);
}

.bg-border-50 {
  background-color: rgba(217, 217, 217, 0.5);
}

.dark .dark\:text-border-50 {
  color: rgba(217, 217, 217, 0.5);
}
.dark .dark\:bg-border-50 {
  background-color: rgba(217, 217, 217, 0.5);
}

.text-border-60 {
  color: rgba(217, 217, 217, 0.6);
}

.bg-border-60 {
  background-color: rgba(217, 217, 217, 0.6);
}

.dark .dark\:text-border-60 {
  color: rgba(217, 217, 217, 0.6);
}
.dark .dark\:bg-border-60 {
  background-color: rgba(217, 217, 217, 0.6);
}

.text-border-70 {
  color: rgba(217, 217, 217, 0.7);
}

.bg-border-70 {
  background-color: rgba(217, 217, 217, 0.7);
}

.dark .dark\:text-border-70 {
  color: rgba(217, 217, 217, 0.7);
}
.dark .dark\:bg-border-70 {
  background-color: rgba(217, 217, 217, 0.7);
}

.text-border-80 {
  color: rgba(217, 217, 217, 0.8);
}

.bg-border-80 {
  background-color: rgba(217, 217, 217, 0.8);
}

.dark .dark\:text-border-80 {
  color: rgba(217, 217, 217, 0.8);
}
.dark .dark\:bg-border-80 {
  background-color: rgba(217, 217, 217, 0.8);
}

.text-border-90 {
  color: rgba(217, 217, 217, 0.9);
}

.bg-border-90 {
  background-color: rgba(217, 217, 217, 0.9);
}

.dark .dark\:text-border-90 {
  color: rgba(217, 217, 217, 0.9);
}
.dark .dark\:bg-border-90 {
  background-color: rgba(217, 217, 217, 0.9);
}

.text-white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.dark .dark\:text-white {
  color: #ffffff !important;
}
.dark .dark\:bg-white {
  background-color: #ffffff;
}

.text-white-10 {
  color: rgba(255, 255, 255, 0.1);
}

.bg-white-10 {
  background-color: rgba(255, 255, 255, 0.1);
}

.dark .dark\:text-white-10 {
  color: rgba(255, 255, 255, 0.1);
}
.dark .dark\:bg-white-10 {
  background-color: rgba(255, 255, 255, 0.1);
}

.text-white-20 {
  color: rgba(255, 255, 255, 0.2);
}

.bg-white-20 {
  background-color: rgba(255, 255, 255, 0.2);
}

.dark .dark\:text-white-20 {
  color: rgba(255, 255, 255, 0.2);
}
.dark .dark\:bg-white-20 {
  background-color: rgba(255, 255, 255, 0.2);
}

.text-white-30 {
  color: rgba(255, 255, 255, 0.3);
}

.bg-white-30 {
  background-color: rgba(255, 255, 255, 0.3);
}

.dark .dark\:text-white-30 {
  color: rgba(255, 255, 255, 0.3);
}
.dark .dark\:bg-white-30 {
  background-color: rgba(255, 255, 255, 0.3);
}

.text-white-40 {
  color: rgba(255, 255, 255, 0.4);
}

.bg-white-40 {
  background-color: rgba(255, 255, 255, 0.4);
}

.dark .dark\:text-white-40 {
  color: rgba(255, 255, 255, 0.4);
}
.dark .dark\:bg-white-40 {
  background-color: rgba(255, 255, 255, 0.4);
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-white-50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.dark .dark\:text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}
.dark .dark\:bg-white-50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.text-white-60 {
  color: rgba(255, 255, 255, 0.6);
}

.bg-white-60 {
  background-color: rgba(255, 255, 255, 0.6);
}

.dark .dark\:text-white-60 {
  color: rgba(255, 255, 255, 0.6);
}
.dark .dark\:bg-white-60 {
  background-color: rgba(255, 255, 255, 0.6);
}

.text-white-70 {
  color: rgba(255, 255, 255, 0.7);
}

.bg-white-70 {
  background-color: rgba(255, 255, 255, 0.7);
}

.dark .dark\:text-white-70 {
  color: rgba(255, 255, 255, 0.7);
}
.dark .dark\:bg-white-70 {
  background-color: rgba(255, 255, 255, 0.7);
}

.text-white-80 {
  color: rgba(255, 255, 255, 0.8);
}

.bg-white-80 {
  background-color: rgba(255, 255, 255, 0.8);
}

.dark .dark\:text-white-80 {
  color: rgba(255, 255, 255, 0.8);
}
.dark .dark\:bg-white-80 {
  background-color: rgba(255, 255, 255, 0.8);
}

.text-white-90 {
  color: rgba(255, 255, 255, 0.9);
}

.bg-white-90 {
  background-color: rgba(255, 255, 255, 0.9);
}

.dark .dark\:text-white-90 {
  color: rgba(255, 255, 255, 0.9);
}
.dark .dark\:bg-white-90 {
  background-color: rgba(255, 255, 255, 0.9);
}

.text-black {
  color: #000000;
}

.bg-black {
  background-color: #000000;
}

.dark .dark\:text-black {
  color: #000000 !important;
}
.dark .dark\:bg-black {
  background-color: #000000;
}

.text-black-10 {
  color: rgba(0, 0, 0, 0.1);
}

.bg-black-10 {
  background-color: rgba(0, 0, 0, 0.1);
}

.dark .dark\:text-black-10 {
  color: rgba(0, 0, 0, 0.1);
}
.dark .dark\:bg-black-10 {
  background-color: rgba(0, 0, 0, 0.1);
}

.text-black-20 {
  color: rgba(0, 0, 0, 0.2);
}

.bg-black-20 {
  background-color: rgba(0, 0, 0, 0.2);
}

.dark .dark\:text-black-20 {
  color: rgba(0, 0, 0, 0.2);
}
.dark .dark\:bg-black-20 {
  background-color: rgba(0, 0, 0, 0.2);
}

.text-black-30 {
  color: rgba(0, 0, 0, 0.3);
}

.bg-black-30 {
  background-color: rgba(0, 0, 0, 0.3);
}

.dark .dark\:text-black-30 {
  color: rgba(0, 0, 0, 0.3);
}
.dark .dark\:bg-black-30 {
  background-color: rgba(0, 0, 0, 0.3);
}

.text-black-40 {
  color: rgba(0, 0, 0, 0.4);
}

.bg-black-40 {
  background-color: rgba(0, 0, 0, 0.4);
}

.dark .dark\:text-black-40 {
  color: rgba(0, 0, 0, 0.4);
}
.dark .dark\:bg-black-40 {
  background-color: rgba(0, 0, 0, 0.4);
}

.text-black-50 {
  color: rgba(0, 0, 0, 0.5);
}

.bg-black-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.dark .dark\:text-black-50 {
  color: rgba(0, 0, 0, 0.5);
}
.dark .dark\:bg-black-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.text-black-60 {
  color: rgba(0, 0, 0, 0.6);
}

.bg-black-60 {
  background-color: rgba(0, 0, 0, 0.6);
}

.dark .dark\:text-black-60 {
  color: rgba(0, 0, 0, 0.6);
}
.dark .dark\:bg-black-60 {
  background-color: rgba(0, 0, 0, 0.6);
}

.text-black-70 {
  color: rgba(0, 0, 0, 0.7);
}

.bg-black-70 {
  background-color: rgba(0, 0, 0, 0.7);
}

.dark .dark\:text-black-70 {
  color: rgba(0, 0, 0, 0.7);
}
.dark .dark\:bg-black-70 {
  background-color: rgba(0, 0, 0, 0.7);
}

.text-black-80 {
  color: rgba(0, 0, 0, 0.8);
}

.bg-black-80 {
  background-color: rgba(0, 0, 0, 0.8);
}

.dark .dark\:text-black-80 {
  color: rgba(0, 0, 0, 0.8);
}
.dark .dark\:bg-black-80 {
  background-color: rgba(0, 0, 0, 0.8);
}

.text-black-90 {
  color: rgba(0, 0, 0, 0.9);
}

.bg-black-90 {
  background-color: rgba(0, 0, 0, 0.9);
}

.dark .dark\:text-black-90 {
  color: rgba(0, 0, 0, 0.9);
}
.dark .dark\:bg-black-90 {
  background-color: rgba(0, 0, 0, 0.9);
}

.box-content {
  box-sizing: content-box;
}

.box-border {
  box-sizing: border-box;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inherit {
  display: inherit !important;
}

.br-0 {
  border-radius: 0px;
}

.br-1 {
  border-radius: 2px;
}

.br-2 {
  border-radius: 5px;
}

.br-3 {
  border-radius: 10px;
}

.br-4 {
  border-radius: 15px;
}

.br-5 {
  border-radius: 20px;
}

.br-c {
  border-radius: 50%;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-crosshair {
  cursor: crosshair !important;
}

.cursor-text {
  cursor: text !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-help {
  cursor: help !important;
}

.border-a {
  border: 1px solid #d9d9d9;
}

.border-t {
  border-top: 1px solid #d9d9d9;
}

.border-r {
  border-right: 1px solid #d9d9d9;
}

.border-b {
  border-bottom: 1px solid #d9d9d9;
}

.border-l {
  border-left: 1px solid #d9d9d9;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.p-fixed {
  position: fixed;
}

.p-static {
  position: static;
}

.p-inherit {
  position: inherit;
}

.p-sticky {
  position: sticky;
}

.overflow-visible {
  overflow: visible;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.overflow-x-visible {
  overflow-x: visible;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-visible {
  overflow-y: visible;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-y-auto {
  overflow-y: auto;
}

.m--1 {
  margin: -2px;
}

.m-0 {
  margin: 0px;
}

.m-1 {
  margin: 2px;
}

.m-2 {
  margin: 5px;
}

.m-3 {
  margin: 8px;
}

.m-4 {
  margin: 10px;
}

.m-5 {
  margin: 15px;
}

.m-6 {
  margin: 20px;
}

.m-7 {
  margin: 30px;
}

.mx--1 {
  margin-left: -2px;
  margin-right: -2px;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.mx-1 {
  margin-left: 2px;
  margin-right: 2px;
}

.mx-2 {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-3 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-4 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-5 {
  margin-left: 15px;
  margin-right: 15px;
}

.mx-6 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-7 {
  margin-left: 30px;
  margin-right: 30px;
}

.my--1 {
  margin-top: -2px;
  margin-bottom: -2px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-1 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.my-2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-5 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-6 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-7 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mt--1 {
  margin-top: -2px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: 5px;
}

.mt-3 {
  margin-top: 8px;
}

.mt-4 {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 15px;
}

.mt-6 {
  margin-top: 20px;
}

.mt-7 {
  margin-top: 30px;
}

.mr--1 {
  margin-right: -2px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-1 {
  margin-right: 2px;
}

.mr-2 {
  margin-right: 5px;
}

.mr-3 {
  margin-right: 8px;
}

.mr-4 {
  margin-right: 10px;
}

.mr-5 {
  margin-right: 15px;
}

.mr-6 {
  margin-right: 20px;
}

.mr-7 {
  margin-right: 30px;
}

.mb--1 {
  margin-bottom: -2px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 2px;
}

.mb-2 {
  margin-bottom: 5px;
}

.mb-3 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 15px;
}

.mb-6 {
  margin-bottom: 20px;
}

.mb-7 {
  margin-bottom: 30px;
}

.ml--1 {
  margin-left: -2px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-1 {
  margin-left: 2px;
}

.ml-2 {
  margin-left: 5px;
}

.ml-3 {
  margin-left: 8px;
}

.ml-4 {
  margin-left: 10px;
}

.ml-5 {
  margin-left: 15px;
}

.ml-6 {
  margin-left: 20px;
}

.ml-7 {
  margin-left: 30px;
}

.p--1 {
  padding: -2px;
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 2px;
}

.p-2 {
  padding: 5px;
}

.p-3 {
  padding: 8px;
}

.p-4 {
  padding: 10px;
}

.p-5 {
  padding: 15px;
}

.p-6 {
  padding: 20px;
}

.p-7 {
  padding: 30px;
}

.px--1 {
  padding-left: -2px;
  padding-right: -2px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-1 {
  padding-left: 2px;
  padding-right: 2px;
}

.px-2 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-3 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-4 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-5 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.py--1 {
  padding-top: -2px;
  padding-bottom: -2px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-1 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.py-2 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-3 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-5 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-6 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-7 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pt--1 {
  padding-top: -2px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-1 {
  padding-top: 2px;
}

.pt-2 {
  padding-top: 5px;
}

.pt-3 {
  padding-top: 8px;
}

.pt-4 {
  padding-top: 10px;
}

.pt-5 {
  padding-top: 15px;
}

.pt-6 {
  padding-top: 20px;
}

.pt-7 {
  padding-top: 30px;
}

.pr--1 {
  padding-right: -2px;
}

.pr-0 {
  padding-right: 0px;
}

.pr-1 {
  padding-right: 2px;
}

.pr-2 {
  padding-right: 5px;
}

.pr-3 {
  padding-right: 8px;
}

.pr-4 {
  padding-right: 10px;
}

.pr-5 {
  padding-right: 15px;
}

.pr-6 {
  padding-right: 20px;
}

.pr-7 {
  padding-right: 30px;
}

.pb--1 {
  padding-bottom: -2px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-1 {
  padding-bottom: 2px;
}

.pb-2 {
  padding-bottom: 5px;
}

.pb-3 {
  padding-bottom: 8px;
}

.pb-4 {
  padding-bottom: 10px;
}

.pb-5 {
  padding-bottom: 15px;
}

.pb-6 {
  padding-bottom: 20px;
}

.pb-7 {
  padding-bottom: 30px;
}

.pl--1 {
  padding-left: -2px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-1 {
  padding-left: 2px;
}

.pl-2 {
  padding-left: 5px;
}

.pl-3 {
  padding-left: 8px;
}

.pl-4 {
  padding-left: 10px;
}

.pl-5 {
  padding-left: 15px;
}

.pl-6 {
  padding-left: 20px;
}

.pl-7 {
  padding-left: 30px;
}

.fs-s {
  font-size: 12px;
}

.fs-m {
  font-size: 14px;
}

.fs-l {
  font-size: 16px;
}

.fs-xl {
  font-size: 18px;
}

.fs-2xl {
  font-size: 20px;
}

.fs-3xl {
  font-size: 22px;
}

.fs-4xl {
  font-size: 24px;
}

.dark .dark\:fs-s {
  font-size: 12px;
}

.dark .dark\:fs-m {
  font-size: 14px;
}

.dark .dark\:fs-l {
  font-size: 16px;
}

.dark .dark\:fs-xl {
  font-size: 18px;
}

.dark .dark\:fs-2xl {
  font-size: 20px;
}

.dark .dark\:fs-3xl {
  font-size: 22px;
}

.dark .dark\:fs-4xl {
  font-size: 24px;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.ta-center {
  text-align: center;
}

.ta-justify {
  text-align: justify;
}

.ta-inherit {
  text-align: inherit;
}

.td-overline {
  text-decoration: overline !important;
}

.td-line-through {
  text-decoration: line-through !important;
}

.td-underline {
  text-decoration: underline !important;
}

.td-none {
  text-decoration: none !important;
}

.td-overline {
  text-decoration: overline;
}

.td-line-through {
  text-decoration: line-through;
}

.td-underline {
  text-decoration: underline;
}

.td-none {
  text-decoration: none;
}

.break-n {
  word-break: normal;
}

.break-ba {
  word-break: break-all;
}

.break-bw {
  word-break: break-word;
}

.flex-dir-row {
  flex-direction: row;
}

.flex-dir-col {
  flex-direction: column;
}

.flex-dir-rowRe {
  flex-direction: row-reverse;
}

.flex-dir-colRe {
  flex-direction: column-reverse;
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-stretch {
  align-items: stretch;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33%;
}

.w-25 {
  width: 25%;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.h-33 {
  height: 33%;
}

.h-25 {
  height: 25%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.fw-bold {
  font-weight: bold;
}

.text-nowrap {
  white-space: nowrap;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*# sourceMappingURL=ttcss.css.map */
